.Story {
  position: relative; /* so z-index has an effect */
  margin-bottom: 10px;
  height: calc(var(--local-size) * 3);
} /* the thing that sits in the slot */

.Story--rank-3 {
  --local-size: var(--size-header--small);
}

.Story--rank-2 {
  --local-size: var(--size-header--medium);
}

.Story--rank-1 {
  --local-size: var(--size-header--large);
}

.Story__wrapper {
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 500ms;
  will-change: background;
}

.Story__panel {
  position: relative; /* needed? */
  box-shadow: var(--shadow-8);
  background: var(--color-white);
  overflow: hidden;
  height: calc(var(--local-size) * 3);
  transform: translate(0, 0);
  transition: 0ms;
  max-width: 100%;
  will-change: transform, width, height;
}

.Story__panel::after {
  content: "";
  background: linear-gradient(0, white, transparent);
  position: absolute;
  bottom: 0;
  height: 20px; /* should match bottom margin */
  left: 0;
  right: 0;
}

.Story--focused .Story__wrapper {
  /*background: rgba(0, 0, 0, 0.7);*/
  z-index: var(--z-index--modal);
}

.Story__title {
  font-weight: 300;
  border-bottom: 1px solid var(--color-grey--100);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--local-size);
  font-size: calc(var(--local-size) * 0.33);
  line-height: calc(var(--local-size) * 0.33);
  padding: 0 5px;
}

.Story__body {
  padding: 0 10px 20px;
  font-size: calc(var(--local-size) * .05 + 12px);
}

.Story__body p {
  margin-top: 10px;
  line-height: 1.5;
}
