.Story--rank-3 {
  --local-size: var(--size-header--small);
}

.Story--rank-2 {
  --local-size: var(--size-header--medium);
}

.Story--rank-1 {
  --local-size: var(--size-header--large);
}

.Story {
  position: relative; /* so z-index has an effect */
  margin-bottom: calc(var(--local-size) / 3);
} /* the thing that sits in the slot */

.Story__wrapper {
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 500ms;
  will-change: background;
}

.Story__panel {
  box-shadow: var(--shadow-8);
  background: var(--color-primary--50);
  overflow: hidden;
  transform: translate(0, 0);
  transition: 0ms;
  max-width: 100%;
  border: 2px solid var(--color-white);
  will-change: transform, width, height;
}

.Story--focused .Story__wrapper {
  z-index: var(--z-index--modal);
}

.Story__title {
  font-weight: 300;
  border-bottom: 1px solid var(--color-primary--100);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--local-size);
  font-family: var(--font-sans-serif);
  font-size: calc(var(--local-size) * 0.28);
  line-height: calc(var(--local-size) * 0.28);
  padding: 0 5px;
  background: var(--color-primary--600);
  color: var(--color-primary--50);
}

.Story__image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(var(--local-size) * 2.5);
  overflow: hidden;
}

.Story__image {
  width: 100%;
  height: auto;
}

.Story__image-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background: var(--color-primary--900);
  opacity: 0.8;
  padding: 5px 10px;
  font-size: 14px;
  font-family: var(--font-sans-serif);
  color: var(--color-primary--50);
}

.Story__author-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary--200);
  padding: 5px 10px;
  font-size: 14px;
  font-family: var(--font-sans-serif);
  color: var(--color-primary--800);
  border-bottom: 1px solid var(--color-primary--600);
}

.Story--rank-3 .Story__author-date {
  flex-direction: column;
}

.Story__body {
  padding: 0 10px 20px;
  font-size: calc(var(--local-size) * .05 + 12px);
}

.Story__body p {
  margin-top: 10px;
  line-height: 1.5;
}
